* {
    margin: 0px;
    padding: 0px;
}

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body, .container {
	height: 100%;
}

body {
	padding: 0px;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow:auto;
    padding-bottom: 8em;
} 

footer {
	position: relative;
    margin-top: -8em; /* negative value of footer height */
    height: 8em;
    clear:both;
} 

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}