 #copy-button.zeroclipboard-is-hover {
     background-color: #4e6d8d;
     color: white;
 }

@media (max-width: 978px) {
    #wrap > .container {
      padding-top:0;
    }
}

#id_summary, #id_details {
    width: 95%;
}

