body { 
	background-image: url("../images/escheresque.png");
	margin: 0px;
}

.demo-logo {
	margin: 0px;
}

.demo-logo-small {
	margin: 0px;
}

.demo-logo small {
	line-height: 20px;
}

.demo-logo-small small {
	margin: 0em 0em 0em 0.5em;
	font-weight: normal;
}

.demo-headline {
	border-bottom: black solid 1px;
	padding: 3em 2em 4em 2em;
}

.demo-headline-small {
	border-bottom: black solid 1px;
	padding: 1em 2em 2em 2em;
	text-align: left;
}

.content {
	background-color: #c7c7c7;
	overflow: hidden;
	padding: 2em 2em 2em 2em;
}

.content-left {
	float: left;
	width: 45%;
}

.content-right {
	float: right;
	width: 45%;
}

.content h2 {
	text-align: left;
}

.content p {
	text-align: left;
}