{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block content %}
    <div class="content-left">
        <h3>Yeah... You're Lost</h3>
        <img src="http://i0.kym-cdn.com/entries/icons/original/000/003/093/ie6404error.png"/>
        <br/>
        <br/>
        <br/>
        <p>
            You should probably sign in and forget this ever happened.
            <br/>
            <br/>
            <a href="/dashboard" class="btn btn-inverse">Go to Dashboard</a>
        </p>
    </div>
{% endblock %}
