{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block content %}
    <div class="content-left">
        <h3>It Seems Our Sever's Positronic Brain Malfunctioned</h3>
        <img src="{{ STATIC_URL }}/images/robots.jpg"/>
        <br/>
        <br/>
        <br/>
        <p>
            You should probably sign in and forget this ever happened.
            <br/>
            <br/>
            <a href="/dashboard" class="btn btn-inverse">Go to Dashboard</a>
        </p>
    </div>
{% endblock %}
