{% extends 'base.html' %}
{% block title %}about{% endblock %}
{% block content %}
<h3>About nextfeed</h3>
<p>
<strong>nextfeed</strong> is about minimalism.<br/>
We created nextfeed for us. With the death of Google Reader (RIP), a plethora
of alternative feed readers was created,<br/> 
but we craved that one simple feature - just reading our feeds.<br/>
</p>
<br/>
<h3>About Us</h3>
<p>
<a href="http://blog.amir.rachu.com">Amir Rachum</a> is a Software Engineer 
with background in Python, Java and C++.<br/>
Currently working on a web apps backend with Django and Mercurial.
</p>
<p>
<a href="#">Yaniv Libal</a> is a Software Engineering student.<br/>
He's just this guy, you know?
</p>
<br/>
<h3>Technological Mumbo-Jumbo</h3>
We created <strong>nextfeed</strong> mainly as a learning experience for both
of us.<br/>
Because of that, we feel obliged to share what we learned and how
<strong>nextfeed</strong> is implemented.

<h4>Frontend</h4>
<ul>
    <li>
    <strong>Open-ID Integration</strong> is done with 
    </li>
    
    <li>
    <strong>Design / Functionality</strong> is done with bootstrap
    </li>
    
    <li>
    <strong>Copy to Clipboard</strong> is done with ZeroClipboard
    </li>
</ul>

<h4>Backend</h4>
<ul>
    <li>
    <strong>Web Framework</strong> is done with 
    </li>
    
    <li>
    <strong>Asynchronuous Feed Updates</strong> is done with bootstrap
    </li>
</ul>

{% endblock %}