{% extends 'base.html' %}
{% block title %}about{% endblock %}
{% block content %}
<h3>About nextfeed</h3>
<p>
<strong>nextfeed</strong> is about minimalism.<br/>
I created nextfeed for me. With the death of Google Reader (RIP), a plethora
of alternative feed readers was created,<br/> 
but I craved that one simple feature - just reading my feeds.<br/>
</p>
<br/>
<h3>About Me</h3>
<p>
My name is <a href="http://blog.amir.rachum.com">Amir Rachum</a>. I'm a
Software Engineer working mainly in Python.
<br/>
You can read about me, the things I do and mostly Python
<a href="blog.amir.rachum.com">at my blog.</a><br/>
</p>
<br/>
<h3>Technological Mumbo-Jumbo</h3>
I created <strong>nextfeed</strong> mainly as a learning experience.<br/>
Because of that, I feel obliged to share what I learned and how
<strong>nextfeed</strong> is implemented.

<h4>Frontend</h4>
<ul>
    <li>
    <strong>Open-ID Integration</strong> is done with
    <a href="https://launchpad.net/django-openid-auth">django-openid-auth</a>.
    </li>
    
    <li>
    <strong>Design / Functionality</strong> is done with
    <a href="http://getbootstrap.com/">bootstrap</a> and some
    <a href="http://angularjs.org/">Angular.js</a>.
    </li>
    
    <li>
    <strong>Copy to Clipboard</strong> is done with
    <a href="http://zeroclipboard.org/">ZeroClipboard</a>.
    </li>
</ul>

<h4>Backend</h4>
<ul>
    <li>
    <strong>Web Framework</strong> is done with
    <a href="https://www.djangoproject.com/">Django</a>.
    </li>
    
    <li>
    <strong>Asynchronuous Feed Updates</strong> is done with
    <a href="http://www.celeryproject.org/">Celery</a>.
    </li>
</ul>

If you're interested in the gory details, head over to
<a href="http://github.com/Nurdok/nextfeed">Github</a> and fork the project!

{% endblock %}