<html>
<head>
    <meta charset="utf-8">
    <title>nextfeed | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{{ STATIC_URL }}flat-ui/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{{ STATIC_URL }}flat-ui/css/flat-ui.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}nextfeed/css/stylesheet.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    {% block head-appendix %}{% endblock %}
</head>
<body>

<div style="position:relative;min-width:500px">
    <a href="https://github.com/Nurdok/nextfeed"><img style="position: absolute;right:0;top:0; z-index: 999;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
</div>

<div style="width: 100%; height: 100%; position: relative;" align="center">
    <div style="width: auto; height: 100%; max-width: 1000px; min-width:500px">
        <div style="background-color: #f1f1f1; border: 1px black solid; border-top: 0px;" align="center">
            <!-- Header -->
            {% block header %}
            <div class="demo-headline">
                <h1 class="demo-logo">
                    » nextfeed
                    <small>a minimalistic rss reader</small>
                </h1>
            </div> <!-- /demo-headline -->
            {% endblock %}
        
     	<div class="content">
     		{% block content %}
	     	{% endblock %}
     	</div>
     	</div>
            
        <footer style="background-color: #34495E;">
        <div style="overflow: auto; width: 100%">
            <div style="width: auto; max-width: 650px; overflow: auto; padding: 0 1em 0 1em;">
            	{% block footer %}
                <p>	
                <em>nextfeed</em> was created by <a href="http://blog.amir.rachum.com">Amir Rachum</a>.<br/>
                Maybe someday Yonatan Nakar and Yaniv Libal as well.
                </p>
                {% endblock %}
            </div>
        </div>
        </footer>
    </div>
</div>

<!-- Footer -->
<div>
</div>

</body>
</html>