{% extends 'base-content.html' %}

{% block title %}dashboard{% endblock %}

{% block head-appendix %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/ZeroClipboard.min.js"></script>
{% endblock %}

{% block content %}
	<div style="width:100%;">
		<h4>Your personalized URL</h4>
        <div class="control-group info" style="text-align: center; width:100%">
    		<input id="next-slug" type="text" min="50" disabled class="login-field active" value="http://nextfeed.org/next?subscription={{ user.get_profile.next_slug }}"></input>
        </div>
        
        <div align="center" style="width: 20%; min-width: 200px">
    	    <div class="btn btn-large btn-block btn-inverse" id="copy-button" data-clipboard-target="next-slug">Copy to Clipboard</div>
        </div>
	</div>
	<br/>
	<br/>
	<hr/>
	<br/>
	<div style="width:100%;">
		<h4>Your Feeds</h4>
      <table>
            <thead>
              <tr>
                <th><label class="checkbox no-label toggle-all" for="checkbox-table-1"><input type="checkbox" value="" id="checkbox-table-1" data-toggle="checkbox"></label></th>
                <th>Name</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              {% for feed in user.get_profile.feeds.all %}
              <tr>
                <td><label class="checkbox no-label" for="checkbox-table-2"><input type="checkbox" value="" id="checkbox-table-2" data-toggle="checkbox"></label></td>
                <td>{{ feed.title }}</td>
                <td>{{ feed.link }}</td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
          
    <div style="width: 100%; margin-top: 2em; vertical-align: middle;">
    <!--
        <form>
            <div class="control-group info" style="text-align: center; width:100%;">
        		<input id="feed-url" type="text" min="50" class="login-field active" placeholder="Paste RSS feed here!"></input>
            </div>
    	    <button class="label label-success btn-inverse btn" id="add-feed-button">Add Feed</button>
        </form>
        -->
        <form action="#" method="post">{% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.link }}
    	    <input type="submit" value="Add Feed" class="label label-success btn-inverse btn" id="add-feed-button"/>
        </form>
    </div>
        
        
	</div>
    
    <script type="text/javascript">
    var clip = new ZeroClipboard(document.getElementById("copy-button"), {
          moviePath: "{{ STATIC_URL }}swf/ZeroClipboard.swf"
        } );
    </script>
{% endblock %}