{% extends 'base.html' %}

{% block title %}dashboard{% endblock %}

{% block content %}
	<div style="width:100%;">
		<h4>Your Personalized URL</h4>
        
        <div class="row-fluid">
        
            <!--  The URL -->
            <div class="span8" align="center">
                <div id="next-slug-wrap" class="control-group info" style="width:100%">
            		<input id="next-slug" style="width: 75%; height: 2em; text-align: center" 
            		       type="text" min="50" disabled 
            		       class="login-field active" 
            		       value="http://nextfeed.org/next?subscription={{ user.get_profile.next_slug }}" />
                </div>
                
                <div align="center" style="width: 20%; min-width: 200px;">
            	    <div class="btn btn-large btn-block btn-inverse" id="copy-button" data-clipboard-target="next-slug">Copy to Clipboard</div>
                </div>
            </div>
            
            <br class="visible-phone"/>
            
            <!-- Explanation -->
            <div class="span4">
                <p>
                <strong>You should to copy this URL and bookmark it.</strong><br/>
                Whenever you hit this address, it will immediately redirect you
                to the oldest unread entry in your feeds.<br/>
                Click it again to the next entry, and so on.<br/>
                You'll get the hang of it once you give it a go!
                </p>
            </div>
            
            <!-- Explanation -->
        
        </div>
	</div>
	<br/>
	<br/>
	<hr/>
	<br/>
	<div style="width:100%;" ng-controller="SubscriptionController">
		<h4>Your Feeds &nbsp;&nbsp;&nbsp;<img id="loading-icon" style="visibility: {[{ loading }]};" src="{{ STATIC_URL }}images/loading-icon.gif"/></h4>
    <div id="url-form-container" style="width: 100%; vertical-align: middle; text-align: center">
        <form class="simple-form">{% csrf_token %}
            <div class="input-append">
              <input type="text" placeholder="Paste RSS address here!" id="feed-url-input" ng-model="new_feed_url" />
              <button id="add-feed-btn" class="btn" value="Add Feed" ng-click="add_feed()" >Add Feed</button>
            </div>
            <br/>
            {[{ form_errors }]}
        </form>
    </div>
    
      <table id="feeds" class="table table-condensed table-hover">
            <tbody>
              <tr ng-repeat="subscription in subscriptions">
                <td style="width: 1px; white-space: nowrap;">
                    <div class="btn-group">
                        <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="" ng-click="mark_unread(subscription.id)">Mark All Unread</a></li>
                          <li><a href="" ng-click="mark_read(subscription.id)">Mark All Read</a></li>
                          <li class="divider"></li>
                          <li><a href="" ng-click="unsubscribe(subscription.id)">Unsubscribe</a></li>
                        </ul>
                    </div>
                </td>
                <td><span class="badge">{[{ subscription.unread_entries }]}</span>&nbsp;&nbsp;{[{ subscription.title }]}</td>
              </tr>
            </tbody>
          </table>
            
	</div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ZeroClipboard.min.js"></script>
    <script type="text/javascript">
        var clip = new ZeroClipboard(document.getElementById("copy-button"), {
            moviePath: "{{ STATIC_URL }}swf/ZeroClipboard.swf"
        } );
    </script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>
{% endblock %}
