{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block content %}
 	<div class="content-left">
     	<h3>What is nextfeed?</h3>
     	<p>
     	<em>nexfeed</em> is a minimalistic RSS reader. It's built in a way that
     	lets you read your favorite subscriptions without the overhead that
     	most readers present.<br/>
     	With <em>nextfeed</em>, you define a list of feeds you want to follow,
     	and get a personalized URL. Every time you hit that URL, you'll get the
     	next unread entry in your feeds.<br/>
     	That's it. Unless you want to change your list of feeds, you don't
     	have to interact with this website to read your stuff.<br/>
     	<br/>
     	<b>Enjoy <em>nextfeed</em>!</b>
     	</p>
        <div class="span3">
          <a href="/openid/login" class="btn btn-large btn-block btn-inverse">Sign Up</a>
        </div>		     	
        <br/>
     	<small>using your favorite openid provider</small>
 	</div>
 	<div class="content-right">
     	<h3>Already set up a feed?</h3>
     	<p>
     	<a href="/dashboard">Click here to go to your dashboard.</a>
     	</p>
 	</div>
{% endblock %}