{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block content %}
 	<div class="content-left">
     	<h3>What is nextfeed?</h3>
     	<p>
     	<em>nexfeed</em> is a minimalistic RSS reader. It's built in a way that
     	lets you read your favorite subscriptions without the overhead that
     	most readers present.<br/>
     	With <em>nextfeed</em>, you define a list of feeds you want to follow,
     	and get a personalized URL. Every time you hit that URL, you'll get the
     	next unread entry in your feeds.<br/>
     	That's it.
     	</p>
        <br/>
        <a href="/openid/login" class="btn btn-huge btn-block btn-primary">Sign Up</a>
        <br/>
        <br/>
     	<small>using your favorite openid provider</small>
 	</div>
 	<div class="content-right">
     	<h3>Already set up a feed?</h3>
         <br/>
         <br/>
        <a href="/openid/login" class="btn btn-huge btn-block btn-inverse">Go to Dashboard</a>
 	</div>
{% endblock %}